<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy />
    <bean id="home" class="aspects.SmartHome"/>
    <bean id="guest" class="aspects.Person"/>
    <bean id="pilot" class="aspects.Pilot"/>
    <bean id="plane" class="aspects.Plane"/>
    <aop:config>
        <aop:aspect ref="home">
            <aop:pointcut
                    expression="execution(* aspects.Person.enterHome())"
                    id="entering"/>
            <aop:before
                    method="openDoor"
                    pointcut-ref="entering"/>
            <aop:after-returning
                    method="closeDoor"
                    pointcut-ref="entering"/>
        </aop:aspect>
    </aop:config>
</beans>